*{margin:0px; padding:0px}
body{
  margin: 0 auto;
  width:1000px
}
div.header{
  margin: 10px auto;
  position: relative;
}
div.head h1{
  height: auto;
  display: inline-block;
}
div.head{
  overflow:hidden;
}

div.head img {
  width:180px
}
div.head ul li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 5px;
  font-size: 9pt;
  letter-spacing: -1px;
}
div.head .logo_right{
  display: inline-block;
  position: absolute;
  top : 15px
}
div.head .logo_right input{
  width: 426px; height: 36px;
  outline: 1px solid #0d6bd6;
}
div.head .logo_right input:focus {outline:2px solid #d50000;}
div.nav{
  overflow:hidden;
  position: relative;
  width: 1000px;
  height: 40px;
  margin-bottom: 10px;

  border-bottom: 2px solid rgb(206, 206, 206);
  text-align: center;
}
div ul{
  display: inline-block;
} 

div.nav li {
  list-style-type: none;
  float:left; 
  /* display: inline-block; */
  padding: 10px 5px;
}

div.section{
  width:1000px;
}

div.cnt {
  position:relative;
  width: 400px; height: 150px;
  border: 5px solid tomato;
  overflow: auto;
  resize: both;
}
.top{
  background-color: aqua;
  padding: 5px 5px;
  margin-bottom: 5px;
}
.middle{
  overflow:hidden;
  margin-bottom: 5px;
}
.middle .box { 
  /* float: left; */
  padding: 10px 5px;
  height : 200px;
}
.middle .box:nth-child(1) {
  width: calc(100%/3 - 10px);
  float: left;
  background-color: red;
}
.middle .box:nth-child(2) {
  width: calc(100%/3 - 10px);
  float: left;
  background-color: green;
}
.middle .box:nth-child(3) {
  width: calc(100%/3 - 10px);
  float: right;
  background-color: blue;
}
#botton_inner{
  width: inherit; height: 300px;
  border: 3px solid black;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}

.circle {
  position: absolute;
  width: 100px; height: 100px; 
  border-radius: 50% 50%;
}

#red {
  background: red;
  left: 20px; top: 20px;
}
#green {
  background: green;
  right: 20px; top: 20px;
}
#blue {
  background: blue;
  right: 20px; bottom: 20px;
}
#yellow {
  background: yellow;
  left: 20px; bottom: 20px;
}
.footer{
  background-color: burlywood;
  width: inherit;
  height: 60px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}